@mixin hook-base-h1(){color: $global-primary-background;}
@mixin hook-base-h2(){color: $global-primary-background;}
@mixin hook-base-h3(){color: $global-primary-background;}
@mixin hook-base-h4(){color: $global-primary-background;}
@mixin hook-base-h5(){color: $global-primary-background;}
@mixin hook-base-h6(){color: $global-primary-background;}